<!doctype html>
<title>{% block title %}{% endblock %} Doggie</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Doggie</h1>
    <ul>
        <li><a href="{{ url_for('dogs.start') }}">Go back to start</a>
    </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>